# Syntax
#### Creating DataFrames

1~6강까지
```

In [1]:
import pandas as pd

### ex. 1

In [2]:
df = pd.DataFrame({"a" : [4, 5, 6],
                   "b" : [7, 8, 9],
                   "c" : [10, 11, 12]},
                 index = [1, 2, 3])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [3]:
# print(df['a'])
df.loc[[1]]
# df.loc[[1],['a']]

   a  b   c
1  4  7  10

### ex. 2

In [4]:
df = pd.DataFrame([[4, 7, 10],
                   [5, 8, 11],
                   [6, 9, 12]],
                 index = [1, 2, 3],
                 columns = ['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

### ex. 3

In [5]:
df = pd.DataFrame({"a" : [4, 5, 6],
                   "b" : [7, 8, 9],
                   "c" : [10, 11, 12]},
                 index = pd.MultiIndex.from_tuples(
                         [('d' , 1), ('d', 2), ('e', 2)],
                 names = ['n', 'v']))
df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

### ex. 3-1 2번과 섞어봄

df = pd.DataFrame([[4, 7, 10],
                   [5, 8, 11],
                   [6, 9, 12]],
                 index = pd.MultiIndex.from_tuples(
                         [('d' , 1), ('d', 2), ('e', 3)]),
                 names = ['n', 'v'],
                 columns = ['a', 'b', 'c'])
df
# error 결국 딕셔너리로 columns를 묶어야 결과가 나온다.

## Method Chaining

In [6]:
# , 가 아니라 . 을 다음 행으로 내리려면 전체를 ()안에 넣으면 된다.
df1 = (pd.melt(df).rename(columns={'variable' : 'var', 'value' : 'val'})
                 .query('val <= 200'))
df1

  var  val
0   a    4
1   a    5
2   a    6
3   b    7
4   b    8
5   b    9
6   c   10
7   c   11
8   c   12