# Make New Columns
* 영상 8강

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame([])
df

Empty DataFrame
Columns: []
Index: []

In [17]:
df.assign?

In [3]:
df = pd.DataFrame({'A': range(1, 11), 'B': np.random.randn(10)})
df

    A         B
0   1 -0.528458
1   2 -0.578593
2   3  0.462373
3   4 -0.543216
4   5 -0.983988
5   6 -1.165647
6   7  0.226325
7   8  0.226105
8   9 -1.968990
9  10 -1.505683

### ln_A column 을 만들고 A column 의 로그값을 넣어주는 3가지 방법

In [ ]:
# 1 
df.assign(ln_A = lambda x:np.log(x.A))

In [ ]:
# 2
df['ln_A'] = np.log(df.A)

In [9]:
# 3
df.ln_A = np.log(df.A)

    A         B      ln_A
0   1 -0.528458  0.000000
1   2 -0.578593  0.693147
2   3  0.462373  1.098612
3   4 -0.543216  1.386294
4   5 -0.983988  1.609438
5   6 -1.165647  1.791759
6   7  0.226325  1.945910
7   8  0.226105  2.079442
8   9 -1.968990  2.197225
9  10 -1.505683  2.302585

#### 내가 맹글어본 ex) 길이 높이에 넓이 컬럼추가(계산해서.)

In [ ]:
dfx = pd.DataFrame({'Length' : np.random.randint(1,10,10), 'Height' : np.random.randint(5,15, 10)})
dfx.assign(Area=lambda x: dfx.length * dfx.height)  # 1
dfx['Area'] = dfx['Length'] * dfx['Height']         # 2 dfx.컬럼 = dfx.컬럼*dfx.컬럼 (error 남)

#### qcut 숫자형 데이터를 category로 변환해준다.

In [19]:
pd.qcut(range(5), 3, labels=["good", "medium", "bad"])

['good', 'good', 'medium', 'bad', 'bad']
Categories (3, object): ['good' < 'medium' < 'bad']

#### 'axis'로 행 또는 열에서의 max, min 가장큰값 가장작은값 불러오기

In [42]:
df.max(axis=0)

A    10.000000
B     1.519701
dtype: float64

In [43]:
df.min(axis=0)

A    1.000000
B   -0.832558
dtype: float64

In [44]:
df['A'].clip(lower=-10,upper=10)     # ???????????????????? 도무지 뭔소린지...

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
Name: A, dtype: int64

#### 절대값으로 변환

In [37]:
df.abs

<bound method NDFrame.abs of     A         E      ln_A
0   1  1.012055  0.000000
1   2  0.802772  0.693147
2   3  0.082639  1.098612
3   4  0.218838  1.386294
4   5  0.322096  1.609438
5   6  0.934211  1.791759
6   7 -1.206530  1.945910
7   8  1.453056  2.079442
8   9  1.273541  2.197225
9  10 -0.852746  2.302585>

In [41]:
df['B'].abs()

0    0.374813
1    1.122408
2    0.574937
3    0.761006
4    0.534145
5    1.519701
6    0.179159
7    0.509912
8    0.832558
9    0.714112
Name: B, dtype: float64