In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(font='malgun gothic')

In [2]:
fire119 = pd.read_csv('data/전국 소방서 현황(2018.11.28).csv', encoding='cp949', engine='python')
safe119 = pd.read_csv('data/전국 119안전센터 현황(2018.11.28).csv', encoding='cp949', engine='python')
police112 = pd.read_csv('data/경찰청_경찰관서 위치, 주소 현황_20210924.csv', encoding='cp949', engine='python')

### 여기 부터 소방서 주소정제 시작

In [3]:
li = ['서울특별시','서울특별시','부산광역시','부산광역시','인천광역시','인천광역시','광주광역시','대전광역시',
      '울산광역시','세종특별자치시','경기도','충청북도','충청남도','전라북도','전라남도','경상북도','경상남도',
      '제주특별자치도','제주특별자치도','제주특별자치도']

In [ ]:
fire119

In [4]:
fire119_addr = []
for i in fire119['주소']:
    fire119_addr.append(str(i).split(" "))

In [ ]:
fire119_addr

In [5]:
fire119_all_repl = []
for i in range(len(fire119_addr)):
    for j in range(len(li)):
        if fire119_addr[i][0][0] == li[j][0]:
            if fire119_addr[i][0][1] == li[j][1]:
                fire119_addr[i][0] = li[j]
            elif fire119_addr[i][0][1] == li[j][2]:
                fire119_addr[i][0] = li[j]
                break
    fire119_all_repl.append(' '.join(fire119_addr[i]))
fire119_all_repl

['서울특별시 종로구 종로1길 28(수송동)',
 '서울특별시 중구 퇴계로 394(무학동)',
 '서울특별시 광진구 광나루로 480(구의동)',
 '서울특별시 용산구 한강대로 167(한강로2가)',
 '서울특별시 동대문구 장한로 34(장안동)',
 '서울특별시 중랑구 신내로 183(신내동)',
 '서울특별시 영등포구 문래로 197(영등포동4가)',
 '서울특별시 성북구 종암로 27길 3(종암동)',
 '서울특별시 강북구 보건소길 2(번동)',
 '서울특별시 도봉구 도봉로 666(방학동)',
 '서울특별시 노원구 한글비석로 1길 8(하계동)',
 '서울특별시 은평구 통일로 962(진관동)',
 '서울특별시 서대문구 연희로 182(연희동)',
 '서울특별시 마포구 창전로 76(신수동)',
 '서울특별시 강남구 테헤란로 629(삼성동)',
 '서울특별시 서초구 사평대로 67(반포동)',
 '서울특별시 관악구 관악로 97(봉천동)',
 '서울특별시 동작구 여의대방로16길 55(신대방동)',
 '서울특별시 강서구 양천로 550(등촌동)',
 '서울특별시 양천구 목동서로 180(목동)',
 '서울특별시 강동구 성내로 39(성내동)',
 '서울특별시 송파구 오금로51길 56(마천동)',
 '서울특별시 구로구 경인로 408(고척동)',
 '서울특별시 성동구 살곶이길 331(행당동)',
 '부산광역시 중구 중앙대로 110(중앙동4가)',
 '부산광역시 동구 범일로 115(범일동)',
 '부산광역시 연제구 고분로 216(연산동)',
 '부산광역시 사상구 삼덕로 17(삼락동)',
 '부산광역시 사하구 장평로 270(신평동)',
 '부산광역시 해운대구 해운대해변로 106(우동)',
 '부산광역시 금정구 중앙대로 1789(부곡동)',
 '부산광역시 수영구 광일로 64(광안동)',
 '부산광역시 강서구 녹산산단361로 9(송정동)',
 '부산광역시 기장군 정관면 용수로 7',
 '부산광역시 영도구 해양로 297(동삼동)',
 '대구광역시 중구 달구벌대로 1926',
 '대구광역시 동구 동대구로 507',
 '대구광역시 서구 달서천로 186',
 '대구광역시 북구 칠성남로 112',
 '대구광역시 수성구 청호로 87',
 '대구광역시 달서구 학산로 75 ',
 '대구광역시 달성군 현풍면 비슬로 480',
 '대구광역시 달성군 다사읍 달구벌대로 920',
 '인천광역시 중구 인중로 204(항동)',
 '인천광역시 부평구 부평대로 324(갈산동)',
 '인천광역시 남동구 인주대로 714(구월동)',
 '인천광역시 서구 서곶로 292(심곡동)',
 '인천광역시 남동구 남동서로 208(고잔동)',
 '인천광역시 계양구 장제로 774(계산동)',
 '인천광역시 남구 인하로 190(주안동)',
 '인천광역시 강화군 강화읍 남문로 23번길 11',
 '인천광역시 중구 공항서로 512번길 464(운서동)',
 '인천광역시 연수구 송도동 208-1',
 '광주광역시 동구 제봉로 210(대인동)',
 '광주광역시 서구 화운로 197(화정동)',
 '광주광역시 남구 송암로58번길 13(송하동)',
 '광주광역시 북구 서하로 290(오치동)',
 '광주광역시 광산구 하남산단1번로 13(하남동)',
 '대전광역시 동구 태전로 134',
 '대전광역시 서구 갈마중로 15',
 '대전광역시 대덕구 계족로 682',
 '대전광역시 유성구 대덕대로 516',
 '대전광역시 서구 북부서로 67',
 '울산광역시 중구 종가로 205',
 '울산광역시 남구 삼산중로 149',
 '울산광역시 동구 꽃바위2가길 9',
 '울산광역시 울주군 온산읍 덕신로 232',
 '세종특별자치시 조치원읍 세종로 2439',
 '세종특별자치시 어진동 610',
 '경기도 수원시 장안구 정자천로 189번길 12 ',
 '경기도 성남시 수정구 제일로 111',
 '경기도 성남시 분당구 양현로 14',
 '경기도 부천시 원미구 신흥로 115 ',
 '경기도 안양시 동안구 동안로 82 ',
 '경기도 안산시 단원구 화랑로 407',
 '경기도 용인시 처인구 명지로 75',
 '경기도 평택시 남부문예회관앞길 11',
 '경기도 평택시 경기대로 1637 ',
 '경기도 광명시 금하로 472',
 '경기도 시흥시 정왕중앙로 64',
 '경기도 군포시 당산로 310',
 '경기도 화성시 향남읍 향남로 399',
 '경기도 이천시 경충대로 2739',
 '경기도 김포시 감암로 111',
 '경기도 광주시 초월읍 무들로 112',
 '경기도 안성시 미양로 855',
 '경기도 하남시 시청길 52',
 '경기도 의왕시 오봉로 9',
 '경기도 오산시 청학로 67',
 '경기도 여주시 우암로 110 ',
 '경기도 양평군 양평읍 경강로 2047',
 '경기도 과천시 통영길 8',
 '경기도 고양시 덕양구 고양대로 1342',
 '경기도 고양시 일산동구 중앙로 1325',
 '경기도 의정부시 의정로 48 ',
 '경기도 남양주시 평내로 25 ',
 '경기도 파주시 파주읍 통일로1564',
 '경기도 구리시 아차산로 487번길 46',
 '경기도 포천시 군내면 호국로 1538',
 '경기도 양주시 백석읍 꿈나무로 156',
 '경기도 동두천시 지행로 6(지행동)',
 '경기도 가평군 가평읍 가화로36',
 '경기도 연천군 전곡읍 평화로 892',
 '강원도 춘천시 후석로 446',
 '강원도 원주시 남원로 487',
 '강원도 강릉시 선수촌로 64-28(홍제동)',
 '강원도 동해시 천곡로 120',
 '강원도 태백시 태백로 1120',
 '강원도 속초시 미시령로 3226',
 '강원도 삼척시 봉황로 101',
 '강원도 홍천군 홍천읍 공작산로 99',
 '강원도 횡성군 횡성읍 문예로 157',
 '강원도 영월군 영월읍 영월로 1863',
 '강원도 평창군 평창읍 살구실길 10',
 '강원도 정선군 정선읍 녹송로 27',
 '강원도 철원군 갈말읍 태봉로 1504',
 '강원도 인제군 인제읍 비봉로 44번길 71',
 '강원도 고성군 간성읍 수성로 37-11',
 '강원도 양양군 양양읍 남대천로 33',
 '충청북도 청주시 상당구 영운로 61',
 '충청북도 청주시 흥덕구 풍산로 64',
 '충청북도 충주시 도매시장4길 9번',
 '충청북도 제천시 신죽하로 2164',
 '충청북도 보은군 보은읍 남부로 4415',
 '충청북도 옥천군 옥천읍 중앙로 132',
 '충청북도 영동군 영동읍 영동황간로 174',
 '충청북도 증평군 충청대로 1789',
 '충청북도 진천군 진천읍 진광로 93',
 '충청북도 괴산군 괴산읍 괴강로 69',
 '충청북도 단양군 단양읍 별곡리 산28-4',
 '충청북도 음성군 금왕읍 응천서길 11',
 '충청남도 천안시 동남구 천안대로 580',
 '충청남도 천안시 서북구 직산읍 4산단 2길 32번지',
 '충청남도 공주시 봉황로 134',
 '충청남도 보령시 대천로 122',
 '충청남도 아산시 문화로 293 ',
 '충청남도 서산시 호수공원14로 26-4',
 '충청남도 논산시 대학로 17 ',
 '충청남도 계룡시 두마면 사계로 46',
 '충청남도 당진시 역천로 838',
 '충청남도 금산군 금산읍 삼풍로 2',
 '충청남도 부여군 규암면 계백로 17',
 '충청남도 서천군 장항읍 장항로 37',
 '충청남도 청양군 청양읍 충절로 1187',
 '충청남도 홍성군 홍성읍 충절로 741 ',
 '충청남도 예산군 오가면 오가중앙로 111',
 '충청남도 태안군 태안읍 동백로 100 ',
 '전라남도 전주시 덕진구 백제대로 611',
 '전라남도 전주시 완산구 거마평로 73',
 '전라남도 군산시 번영로 308 ',
 '전라남도 익산시 무왕로 1338',
 '전라남도 정읍시 서부산업도로 507-3',
 '전라남도 남원시 요천로 1965',
 '전라남도 김제시 벽성로 278',
 '전라남도 고창군 고창읍 녹두로 1294',
 '전라남도 부안군 행안면 변산로 86',
 '전라남도 장수군 장계면 육십령로 136',
 '전라남도 목포시 삼향천로 110',
 '전라남도 여수시 망마로 20',
 '전라남도 순천시 서면 삼산로 281',
 '전라남도 나주시 예향로 4201',
 '전라남도 광양시 중마중앙로 109',
 '전라남도 담양군 담양읍 추성로 1232',
 '전라남도 고흥군 풍양면 고흥로 1330',
 '전라남도 보성군 벌교읍 녹색로 5247',
 '전라남도 화순군 화순읍 학포로 2750',
 '전라남도 강진군 군동면 중앙로 223',
 '전라남도 해남군 해남읍 교육청길 82',
 '전라남도 영암군 삼호읍 나불로 192',
 '전라남도 무안군 무안읍 공항골 133-9',
 '전라남도 함평군 대동면 학동로386',
 '전라남도 영광군 영광읍 함영로 3508',
 '경상북도 포항시 북구 중앙로 332',
 '경상북도 포항시 남구 동해안로 5890',
 '경상북도 경주시 알천남로 276',
 '경상북도 김천시 황산로 67',
 '경상북도 안동시 육사로 301',
 '경상북도 구미시 수출대로 112',
 '경상북도 영주시 문수면 적서로 448번길 17',
 '경상북도 영천시 호국로 187',
 '경상북도 상주시 상산로 322',
 '경상북도 문경시 중앙로 305',
 '경상북도 경산시 김유신로 12',
 '경상북도 의성군 봉양면 경북대로 4741',
 '경상북도 영덕군 영덕읍 경동로 8401',
 '경상북도 청도군 청도읍 중앙로 192-34',
 '경상북도 고령군 고령읍 벽화길 18',
 '경상북도 성주군 성주읍 주산로 193',
 '경상북도 칠곡군 기산면 칠곡대로 1216',
 '경상북도 울진군 울진읍 울진북로 508',
 '경상남도 진주시 동진로 249',
 '경상남도 통영시 광도면 죽림4로 49',
 '경상남도 사천시 남일로 29',
 '경상남도 김해시 김해대로 2507',
 '경상남도 김해시 장유로 341',
 '경상남도 밀양시 밀양대로 1760',
 '경상남도 거제시 진목로 1',
 '경상남도 양산시 물금읍 황산로 719',
 '경상남도 의령군 의령읍 남산로 7-12',
 '경상남도 함안군 가야읍 선왕길 59',
 '경상남도 창녕군 대지면 우포2로 1097',
 '경상남도 고성군 고성읍 남해안대로 2670',
 '경상남도 남해군 남해읍 스포츠로 81',
 '경상남도 하동군 금성면 금성로 15',
 '경상남도 산청군 산청읍 물안실로 8',
 '경상남도 함양군 함양읍 함양로 1179',
 '경상남도 거창군 거창읍 거함대로 3324',
 '경상남도 합천군 합천읍 인덕로 2453',
 '제주특별자치도 제주시 중앙로 342(이도이동)',
 '제주특별자치도 서귀포시 동홍로 31(동홍동)',
 '제주특별자치도 제주시 한림읍 한림중앙로 150',
 '제주특별자치도 서귀포시 성산읍 일주동로 4120번길 7',
 '경상남도 창원시 진해구 백구로 72',
 '경상남도 창원시 의창구 상남로 165',
 '경상남도 창원시 마산합포구 제2부두로 55']

In [6]:
fire119['주소(정)'] = fire119_all_repl

In [ ]:
fire119.to_csv('data/fire119.csv', encoding='cp949', index=False)

### 여기까지 소방서 주소정제 끝

### folium 을 이용한 지도화

* 변수 재활용을 위한 삭제

In [7]:
del fire119_addr
del fire119_all_repl

In [8]:
fire119_addr = pd.DataFrame(fire119['주소(정)'].apply(lambda x : x.split()[:2]).tolist(), columns=('시도','군구'))

In [ ]:
fire119_addr

* 나눠놓은 시도와 군구를 시도군구 컬럼으로 만들어서 병합
* count 컬럼을 만들고 값을 0으로 놓는다.

In [9]:
fire119_addr['시도군구'] = fire119_addr.apply(lambda x : x['시도']+' '+x['군구'], axis=1)
fire119_addr['count'] = 0

In [10]:
fire119_group = pd.DataFrame(fire119_addr.groupby(['시도','군구','시도군구'], as_index=False).count())

In [11]:
fire119_group.set_index('시도군구')

            시도   군구  count
시도군구
강원도 강릉시    강원도  강릉시      1
강원도 고성군    강원도  고성군      1
강원도 동해시    강원도  동해시      1
강원도 삼척시    강원도  삼척시      1
강원도 속초시    강원도  속초시      1
...        ...  ...    ...
충청북도 제천시  충청북도  제천시      1
충청북도 증평군  충청북도  증평군      1
충청북도 진천군  충청북도  진천군      1
충청북도 청주시  충청북도  청주시      2
충청북도 충주시  충청북도  충주시      1

[199 rows x 3 columns]

In [17]:
fire119_group['시도'].value_counts()

경기도        31
서울특별시      24
전라남도       24
경상남도       18
경상북도       17
강원도        16
충청남도       15
부산광역시      11
충청북도       11
인천광역시       8
대구광역시       7
광주광역시       5
대전광역시       4
울산광역시       4
세종특별자치시     2
제주특별자치도     2
Name: 시도, dtype: int64

### 여기부터 119안전센터 주소정제 시작

In [ ]:
safe119.head()

In [ ]:
safe119_addr = []
for i in safe119['주소']:
    safe119_addr.append(str(i).split(" "))

In [ ]:
for i in safe119_addr:
    if i[0] == '수원시' : i.insert(0, '경기도')
    elif i[0] == '성남시' : i.insert(0, '경기도')
    elif i[0] == '파주시' : i.insert(0, '경기도')
    elif i[0] == '양주시' : i.insert(0, '경기도')
    elif i[0] == '가평군' : i.insert(0, '경기도')
    elif i[0] == '충북' : i[0] = '충청북도'
    elif i[0] == '증평군' : i.insert(0, '충청북도')
    elif i[0] == '충남' : i[0] = '충청남도'
    elif i[0] == '전북' : i[0] = '전라북도'
    elif i[0] == '전남' : i[0] = '전라남도'
    elif i[0] == '완도군' : i.insert(0, '전라남도')
    elif i[0] == '함평군' : i.insert(0, '전라남도')
    elif i[0] == '경남' : i[0] = '경상남도'

In [ ]:
safe119_addr

In [ ]:
safe119_all_repl = []
for i in range(len(safe119_addr)):
    safe119_all_repl.append(' '.join(safe119_addr[i]))
safe119_all_repl

In [ ]:
safe119['주소(정)'] = pd.DataFrame(safe119_all_repl)

In [ ]:
safe119.head()

In [ ]:
safe119.to_csv('safe119.csv', encoding='cp949', index=False)

### 여기까지 119안전센터 주소 정제끝

In [ ]:
del safe119_addr
del safe119_all_repl

In [ ]:
safe119_addr = pd.DataFrame(safe119['주소'].apply(lambda y : y.split()[:2]).tolist(), columns=('시도','군구')

### 여기부터 경찰관서

In [ ]:
police112.head()

In [ ]:
police112_addr = []
for i in police112['주소']:
    police112_addr.append(str(i).split(" "))

In [ ]:
police112_addr

In [ ]:
police112_addr_repl = []
for i in range(len(police112_addr)):
    for j in range(len(li)):
        if police112_addr[i][0][0] == li[j][0]:
            if police112_addr[i][0][1] == li[j][1]:
                police112_addr[i][0] = li[j]
            elif police112_addr[i][0][1] == li[j][2]:
                police112_addr[i][0] = li[j]
                break
    police112_addr_repl.append(' '.join(police112_addr[i]))
police112_addr_repl

In [ ]:
police112['주소(정)'] = pd.DataFrame(police112_addr_repl)

In [ ]:
police112.head()

In [ ]:
police112.to_csv('police112.csv', encoding='cp949', index=False)